.wrapper, .svg {
  width: 500px;
  height: 500px;
}
.wrapper {
  position: relative;
  background: pink;
}
.svg {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
}
.gee path {
  stroke-width: 5;
  stroke: #000;
  stroke-linecap: round;
  fill: none;
}




.table {
  position: absolute;
  border: 1px solid gray;
  background: #eee;
}
.table h3 {
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 0;
  font-weight: normal;
}

.table ol {
  list-style-type: none;
  margin: 0;
  padding: 5px 0px;
}
.table li {
  display: flex;
  position: relative;
}
.table li > span,
.table li > select {
  padding: 5px;
}
.table li .key {
  width: 20px;
  font-style: italic;
}
.table li.pk .key::before{
  content: 'pk'
}
.table li.fk .key::before{
  content: 'fk'
}
.table li .name {
  font-weight: bold;
  white-space: nowrap;
}
.table li .key,
.table li .sort {
  width: 20px;
  text-align: center;
}
.table li .sort {
  margin-left: auto;
}
.table li .dataType {
  -webkit-appearance: none;
  border-radius: 0;
  font-style: italic;
}
.table li .name,
.table li .dataType {
  border: 2px solid transparent;
  font-family: serif;
  background: none;
  transition: background-color .25s, border-color .25s;
  margin: -1px;
}
.table li .name:hover,
.table li .dataType:hover {
  background-color: rgba(0,0,0, .05);
  border-color: rgba(100, 150, 255, .1);
}
.table li .name:focus,
.table li .dataType:focus {
  background-color: rgba(0,0,0, .1);
  border-color: rgba(100, 150, 255, .6);
  outline: none;
}
/* contenteditable */
.name div, .name br {
    display: inline-block;
}

.table li .edit::after {
  content: 'edit';
}
.table li .sort::after {
  content: "=";
}