<!doctype html>
<html>
  <head>
    <title>draggy</title>
    <link rel="Stylesheet" href="css/normalize.css" />
    <link rel="Stylesheet" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" integrity="sha256-67By+NpOtm9ka1R6xpUefeGOY8kWWHHRAKlvaTJ7ONI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% js app %}
  </head>
  <body>
    {{ content }}
  </body>
</html>